SECRET=MySecret1!
my-version
MONGODB_URI=mongodb://mongo:27017/restauranty

MONGODB_URI="mongodb://127.0.0.1:27017/resturanty"
CLOUD_NAME="cloudinaryname"
CLOUD_API_KEY="cloudinaryapikey"
CLOUD_API_SECRET="cloudinaryapisecret"
 main
PORT=3001