global
    log stdout format raw daemon

defaults
    mode http
    timeout connect 5000ms
    timeout client 50000ms
    timeout server 50000ms

frontend http-in
    bind *:80

    acl is_auth path_beg /api/auth
    acl is_discounts path_beg /api/discounts
    acl is_items path_beg /api/items

    use_backend auth-backend if is_auth
    use_backend discounts-backend if is_discounts
    use_backend items-backend if is_items
    default_backend frontend-backend

backend auth-backend
    server auth auth:3001

backend discounts-backend
    server discounts discounts:3002

backend items-backend
    server items items:3003

backend frontend-backend
    server client client:80

