global
    daemon

defaults
    mode http
    timeout connect 5s
    timeout client 50s
    timeout server 50s

frontend http_front
    bind *:80

    acl is_auth path_beg /auth
    acl is_items path_beg /items
    acl is_discounts path_beg /discounts

    use_backend auth_service if is_auth
    use_backend items_service if is_items
    use_backend discounts_service if is_discounts

    default_backend client_service


backend auth_service
    http-request replace-path ^/auth(/)?(.*) /\2
    server auth auth:3001


backend items_service
    http-request replace-path ^/items(/)?(.*) /\2
    server items items:3003


backend discounts_service
    http-request replace-path ^/discounts(/)?(.*) /\2
    server discounts discounts:3002


backend client_service
    server client client:80
